<html>
    <head>
        <titl>Log In</titl>
    </head>
    <body>
        <form action="/login" method="POST">
                <p>
                        <h3>UserName:</h3>
                        <input type="text" name="name">
                        <br>
                    </p>
                    <p>
                        <h3>Password</h3>
                        <input type="password" name="pass">
                        <br>
                    </p>
                    <p>
                        <input type="Submit" value="Submit">
                    </p>
        </form>
        
    </body>
</html>